### VisualStudioCode ###
!/.vscode
!.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*/.vscode
!*/*/.vscode
!*/*/*/.vscode
!.vscode
.vscode
vscode
/vscode
vscode/*
.vscode/
.alpackages
*.app
.vscode/
.vscode/*
# -----
.idea/
/.DS_Store
.DS_Store
.env
.cache
*.env
__pycache__
# Default ignored files
/shelf/
/workspace.xml

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
